@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import '@riophae/vue-treeselect/dist/vue-treeselect.css';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  // font-family: Chinese Quote,
  // -apple-system,
  // BlinkMacSystemFont,
  // Segoe UI,
  // PingFang SC,
  // Hiragino Sans GB,
  // Microsoft YaHei,
  // Helvetica Neue,
  // Helvetica,
  // Arial,
  // sans-serif,
  // Apple Color Emoji,
  // Segoe UI Emoji,
  // Segoe UI Symbol;
  font-family: "Helvetica Neue",
  Helvetica,
  "PingFang SC",
  "Hiragino Sans GB",
  "Microsoft YaHei",
  "微软雅黑",
  Arial,
  sans-serif;
}

label {
   // font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  min-height: calc(100vh - 70px);
  height: 100%;
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 10px;
  float: right;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}


// 自定义的样式
.customertablehead {
  background-color: #fafafa;
  // color: rgb(2, 7, 0);
  border-bottom: 1px solid #e4e7ed;
}


.vue-treeselect__control {
  height: 28px
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
  line-height: 28px
}

.vue-treeselect__single-value {
  color: #606266
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
  line-height: 28px;
  font-size: 12px;
  padding-left: 10px;
}

.vue-treeselect div,
.vue-treeselect span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}

.el-tree-node{
  margin: 3px 0px;
}

.treeHeader{
  border: 1px solid #ebeef5;
  background-color: #fafafa;
  height:38px;
  border-bottom-width:2px;
  .treeHeaderItem{
    position: relative;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 33px;
    font-size: 12px;
    padding-left: 10px;
    width: 100%;
    display: inline-block;
  }
}

.el-tree-node__label{
  font-size: 12px
}

/* .el-card{
  overflow: unset
} */



// 滚动条样式


  /*---滚动条默认显示样式--*/ 

// ::-webkit-scrollbar-thumb{  

//   background-color:#FB4446;  

//   height:50px;  

//   outline-offset:-2px;  

//   outline:2px solid #fff;  

//   -webkit-border-radius:4px;  

//   border: 2px solid #fff;  

// }  

::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
  background-color:#f8f8f8;
  }
  ::-webkit-scrollbar {//滚动条的宽度
  width:9px;
  height:9px;
  }
  ::-webkit-scrollbar-thumb {//滚动条的设置
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:28px;
  }
  ::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
  }

// 滚动条样式结束

.zk-table__body-row{
  height: 40px !important;
}

// ::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
//   background-color:#f8f8f8;
//   }
//   ::-webkit-scrollbar {//滚动条的宽度
//   width:9px;
//   height:9px;
//   }
//   ::-webkit-scrollbar-thumb {//滚动条的设置
//   background-color:#dddddd;
//   background-clip:padding-box;
//   min-height:28px;
//   }
//   ::-webkit-scrollbar-thumb:hover {
//   background-color:#bbb;
//   }

.ant-table td { white-space: nowrap; text-overflow: ellipsis;overflow: hidden; }

.row_noedit{
  background-color: #FAFAFA !important
}